body{
    background-color:#ffffff;
}
.title{
    text-align: center;
    padding-top: 30px;
    font-family:sans-serif;
}
.info{
    text-align: center;
    font-size: 20px;
    font-style: italic;
}
.flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.active{
    font-family: Helvetica Neue;
}
.input{
    border-color: transparent;
    background-color: rgb(223, 230, 235);
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.button{
    margin-top: 20px;
    height: 40px;
    background-color: rgb(61, 112, 178);
    cursor: pointer;
    border-color: transparent;
    color: rgb(255, 255, 255);
    width: 100px;
    font-size: 13px;
}
.time{
    font-family: 'Orbitron';
    font-size: 50px;
}
.minute{
    border: 2px solid red;
}
.alarms{
    text-align: center;
    display: block;
    margin-top: 30px;
    font-family: Helvetica Neue;
    font-size: 14px;
    color: rgb(59, 119, 182);
}
input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.container{
    display: inline-flex;
    flex-direction: column;
    position: absolute;
    right:0px;
    top:0px;
    width: 13%;
}
.notification{
    display: inline-block;
    background-color: khaki;
    margin-bottom: 3px;
    height: 80px;
    font-size: 20px;
    text-align: center;
    position: relative;
    border-left: 5px;
    border-left-style: solid;
}
.notification:nth-child(even){
    border-left-color: orangered;
}
.notification:nth-child(odd){
    border-left-color: black;
}
.close{
    position: absolute;
    top: 2px;
    right: 5px;
    cursor: pointer;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    text-align: center;
    color: grey;
    font-weight: 100;
    font-style: italic;
    font-family: Helvetica;
}
::-moz-placeholder { /* Firefox 19+ */
    text-align: center;
    color: grey;
    font-weight: 100;
    font-style: italic;
    font-family: Helvetica;
}
:-ms-input-placeholder { /* IE 10+ */
    text-align: center;
    color: grey;
    font-weight: 100;
    font-style: italic;
    font-family: Helvetica;
}
:-moz-placeholder { /* Firefox 18- */
    text-align: center;
    color: grey;
    font-weight: 100;
    font-style: italic;
    font-family: Helvetica;
}
